{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница CatDjango</title>
{% endblock %}

{% block content%}
    <!--{% include 'main/nav.html'%}-->

        <section class="mb-4">
            <h1>Добро пожаловать на сайт {{caption}}!</h1>
            <h2>О нас</h2>
            <p>На CatDjango мы объединяем любовь к кошкам и страсть к веб-разработке с использованием Django. Независимо от того, являетесь ли вы разработчиком или любителем кошек, здесь найдется что-то интересное для каждого!</p>
        </section>

        <section class="mb-4">
            <h2>Наша миссия</h2>
            <p>Мы стремимся создать сообщество, где люди могут делиться любовью к кошкам, обмениваться советами по разработке на Django и сотрудничать в увлекательных проектах.</p>
        </section>
{% endblock %}