{% extends 'main/layoute.html' %}

{% block title %}
 <title>Новости от пользователей</title>
{% endblock %}

{% block content %}
<h1>Новости от пользователей</h1>
<div class="row">
    {% for new in user_news %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ new.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ new.short_description }}</h6>
                <p class="card-text">{{ new.text }}</p>
                <p class="card-text"><small class="text-muted">Опубликовано {{ new.pub_date }} пользователем {{ new.user.username }}</small></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
